# Virtual env
.venv/

# Python
__pycache__/
*.pyc

# Build
*.egg-info/
dist/
build/

# Data
data/*.csv
data/*.parquet

# Models
*.pkl
*.joblib

# MLflow
mlruns/
mlflow.db

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store